<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fungo.feature_player_live">

    <application>
        <activity
            android:name=".FungoLivePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>